@media only screen and (max-width: 768px) {
	/* eliminate sidebar */
	aside {
		width: 200px;
		transform: translateX(-210px);
		transition: transform 0.3s linear;
	}

	.mobile-menu {
		display: block;
	}

	.card-project {
		flex-shrink: 1;
	}
}
