/* PAGE */
/* General */
html {
	background-color: #2a2c41;
	scroll-behavior: smooth;
	font-size: calc(0.8em + 0.7vw);
}

.container {
	background-color: white;
	display: flex;
	align-items: stretch;
	width: 95%;
	margin-top: 3px;
	margin-left: auto;
	margin-right: auto;
}

/* Primary Containers */
aside {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-basis: 18%;
	flex-shrink: 0;
	background-color: #2a2c41;
	padding: 2%;
}

main {
	flex-grow: 1;
	padding: 3%;
}

header {
	padding-top: calc(5vh + 1em);
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: calc(5vh + 2em);
}

article {
	margin-bottom: calc(5vh + 2em);
}

nav {
	position: -webkit-sticky;
	position: sticky;
	top: 20vh;
	padding-top: 5%;
	text-align: right;
}

footer {
	position: -webkit-sticky;
	position: sticky;
	bottom: 1vh;
}

/* Secondary Containers */
.quote {
	max-width: 400px;
	margin-bottom: calc(10vh + 4em);
}

.cardholder {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-left: -0.5em;
	margin-right: -0.5em;
}

.card {
	padding: 1em;
	background-color: #84869b;
	flex-basis: 240px;
	flex-shrink: 0;
	flex-grow: 1;
	margin: 0.5em;
}

.card-reverse {
	padding: 1em;
	background-color: white;
	flex-basis: 240px;
	flex-shrink: 0;
	flex-grow: 1;
	margin: 0.5em;
}

.card-project {
	flex-basis: 400px;
	flex-shrink: 0;
	flex-grow: 1;
	margin: 0.5em;
	overflow: hidden;
	position: relative;
	padding: 0;
}

.form-box {
	background-color: #f87060;
	padding: 1em;
}

/* TEXT */
/* font families for multiple*/
h1,
.sideNote,
.pop {
	font-family: "Syncopate", sans-serif;
}

h2,
h3,
nav,
a {
	font-family: "Sen", sans-serif;
}

p,
input {
	font-family: "Montserrat", sans-serif;
}
/* font color for multiple*/
h1,
h2,
h3,
.emphasize {
	color: #050b49;
}

a:hover,
a:active,
.pop {
	color: #cc6c1e !important;
}

nav,
a,
a:visited {
	color: #84869b;
}

/* font styling individually*/
h1 {
	font-size: 3em;
	text-align: right;
}

h2 {
	font-size: 1.2em;
	line-height: 1.5em;
	text-align: left;
	margin-bottom: 1em;
}

h3 {
	font-size: 1.1em;
	margin-bottom: 1em;
}

p {
	font-size: 0.9em;
	letter-spacing: 0.05em;
	line-height: 1.8em;
	margin-bottom: 1em;
}

nav {
	font-size: 0.8em;
	line-height: 1.4em;
}

a {
	text-decoration: none;
}

/* text styling */
.right {
	text-align: right;
}

.emphasize {
	font-weight: 700;
	line-height: 1.4em;
}

.bullets {
	margin-bottom: 0em;
	margin-left: 1em;
}

.small {
	font-size: 0.7em;
}

.small-button {
	transform: scale(0.7);
	transform-origin: right;
	margin-bottom: 0em;
}

.sidebar {
	font-size: 0.7em;
	color: #84869b;
}
.pop {
	font-weight: 700;
	font-size: 0.9em;
	color: #cc6c1e !important;
}

/* ELEMENTS */
.card img {
	width: 80px;
	margin-bottom: 1em;
}

.card-project img {
	width: 100%;
	background-color: white;
	height: auto;
	object-fit: cover;
	pointer-events: none;
	position: relative;
	z-index: 1;
}

.button {
	border: solid 1px #2a2c41;
	border-radius: 3px;
	padding: 0.5em;
	width: 8em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1em;
	margin-bottom: 1em;
}
.button:hover,
.button:active {
	border: solid 1px #e68a22;
}

.mobile-menu {
	display: none;
}

/* VISUAL EFFECTS */
.hide {
	display: none;
}

.invisible {
	opacity: 0.1;
	z-index: -1;
}

.project-info {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0.5em;
	z-index: 0;
}

.icons {
	font-size: 1.5em;
}

input {
	border: none;
	border-bottom: 1px solid #84869b;
	background-color: transparent;
	outline: none;
	margin-bottom: 1em;
	padding: 0 0.5em;
	font-size: 1em;
	color: white;
	width: 95%;
	display: block;
}
